*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ECE3CE;
  font-family: sans-serif;
}
/* header */
#container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* margin-top: 30px; */
}
#center_container{
  width: 45%;
  text-align: center;
}
input{
  border-radius: 10px;
  border: none;
  border: 1px solid black;
  padding: 5px;
  width: 35%;
  height: 40px;

}
span{
  font-size: 30px;
  
}
#box_item{
  width: 45%;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.list_item{
  list-style-type: none;
  width: 100%;
  border: 1px solid black;
  height: 30px;
  border-radius: 10px;
}