*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  width: 100%;
  /* background-color: black; */
  height: 100vh;
  padding: 30px;
}

#color_holder{
  /* position: fixed; */
  width: 80%;
  height: 50px;
  border-radius: 20px;
  background-color: brown;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
button{
  font-size: 14px;
  width: 10%;
  height: 30px;
  border-radius: 20px;
  border: none;
  

}
